#banniere-activite {
	background-color:$gris-blanc;
	height:190px;
	width:100%;
	margin-top:90px;
	text-align: center;
	color:$rose-moyen;

	h1 {
		font-size:70px;
		margin:auto;
		padding-top: 80px;
		font-family: $avenir-heavy;
		font-weight: 900;
	}

	p {
		margin-top: 50px;
	}
}

#content-wrapper {
	#content-container-mad {
		padding: 40px;
    	background-color: white;
    	width: 100%;
    	margin: auto;
		
		h2 {
			font-size:48px;
			width: 61%;
		}

		p { padding-top:50px; }
	}
}

.title-border {
		position: relative;
		z-index : 1;
		padding-bottom:35px;
}

.title-border:before {
  	content : "";
  	position: absolute;
 	 left    : 0;
  	bottom  : 0;
  	height  : 1px;
  	width   : 16%; 
  	border-bottom:2px dotted $gris-fonce;
}

.titleBlue{
	font-weight: 600;
	font-family: $openHeavy;
	color:$bleu-fonce;
}

#activite-container {
	margin-top:50px;
	font-family: $openSans;

	h2 {     
		font-size: 48px;
    	width: 39%;
    	margin-left: 30px;
	}

	.title-border:before {
 	 	left:30px;
	}

	.activite-mad {
	    background-image: url(/uploads/ressources/couple_senior.jpg);
	    height: 309px;
	    background-repeat: no-repeat;
	    background-position-x: 453px;
	    background-size: 55%;
	    margin-top:50px;

		img {
			margin-top: -105px;
			width: 58%;

			position:absolute;
		}

		p {
			position: relative;
		    z-index: 10;
		    top: 113px;
		    width: 20%;
		    left: 165px;
		    font-weight: 600;
		    font-size:25px;
		}
	}

	.activite-diabete {
	    background-image: url(/uploads/ressources/mamie_sportive.png);
	    height: 309px;
	    background-repeat: no-repeat;
	    background-position-x: 453px;
	    background-size: 55%;
	    margin-top:50px;



		img{
			margin-top: -62px;
			width: 58%;

			position:absolute;
		}

		p {
			position: relative;
		    z-index: 10;
		    top: 139px;
		    width: 17%;
		    left: 174px;
		    font-weight: 600;
		    font-size:25px
		}
	}

	#cicat {
		img {

		    margin-top: -132px;
		}
	}

	#collectivite {
		img {
			margin-top: -77px;
		}
	}

	#escarre {
		img {
			margin-top: -93px;
		}
	}

	#ehpad {
		img{
			margin-top: -94px;
		}
	}

	#ortho {
		img{
			margin-top:-76px;
		}
	}

}