#banniere-article {
	background-size: 103%;
    height: 481px;
    background-position-x: 106%;
    background-position-y: -32%;
    background-repeat: no-repeat;
}

#article-container {
	padding:0px 20px 20px 20px;
	background-color:$gris-blanc;

	h1 {
		padding-top:0px;
		margin-left:0px;
	}
	
	#white-box-article {
		background-color: white;
    	margin-top: -40px;
    	float: left;
    	padding:30px;
    	margin-bottom: 120px;

    	h1 {
    		font-weight:$bold;
    		font-family:$avenir-black;
    		font-size: 53px;
    		width: 75%;
    	}

    	.date {
    		color:$gris-clair;
    		font-size:20px;
    	}
    	
    	p {
    		font-size: 25px;
    	}
	}

	#similarPost-container {
	
		h1 {
			color:$gris-clair;
			text-align:center;

			&:after {
			    height: 1px;
			    display: block;
			    width: 80%;
			    background: $gris-clair;
			    content: '';
			    margin-left: 93px;
			    margin-top: 26px;
			}
		}

	    .actif {
	    	background-color:$bleu-ciel !important;
	    	transition-delay:0.5s;
	    	transition: 0.5s all;
	    	color:white;
	    }

		.similar-article {
		    background-color: white;
		    width: 45%;
		    margin-left: 30px;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 30px;
		    position:relative;
		    overflow:hidden;
		    transition: 0.5s all;

			img {
				width:100%;
			}

			.overlay-back {
				&::before {
				  	background-color: rgba(39, 133, 137, 0.7);
				  	content: '';
				  	display: inline-block;
				  	height: 80%;
				  	position: absolute;
				  	width: 100%;
				  	font-size:90px;
				  	transition:1s all;
	    		}

	    		p {
	    			position: absolute;
				        bottom: -54px;
				    font-size: 236px;
				    right: 0;
				    left: 136px;
				    color: white;
				    font-weight: 200;
	    		}
			}

			.similarPost-image {
			    background-size: 100%;
			    height: 283px;
			    background-repeat:no-repeat;
			}

			.similar-article-title {
				padding:30px;
				
				h2 {
					font-weight:$bold;
				}		
			}
		}
	}
}
