 
#carriere-content-wrapper{
	#carriere-container {

		#magasinier {
			 img {
			 	margin-top: -75px;
			 }
		}

		#livreur {
			img {
				margin-top:-75px;
			}
		}

		.carriere-gauche {

		 background-image: url(/uploads/ressources/couple_senior.jpg);
		    height: 309px;
		    background-repeat: no-repeat;
		    background-position-x: 453px;
		    background-size: 55%;
		    margin-top: 50px;

		    img {
			    margin-top: -105px;
			    width: 58%;
			    position: absolute;
			}

			p {
			    position: relative;
			    z-index: 10;
			    top: 113px;
			    width: 20%;
			    left: 165px;
			    font-weight: 600;
			    font-size: 25px;
			}
		}

	 	.carriere-droite {
		    background-image: url(/uploads/ressources/couple_senior.jpg);
		    height: 309px;
		    background-repeat: no-repeat;
		    background-position-x: 453px;
		    background-size: 55%;
		    margin-top: 50px;

			img {
			    margin-top: -105px;
			    width: 58%;
			    position: absolute;
			}

			p {
			    position: relative;
			    z-index: 10;
			    top: 113px;
			    width: 20%;
			    left: 165px;
			    font-weight: 600;
			    font-size: 25px;
			}
		}
	}
}

.cubeWrapper {
	display:none;	 
}