#banniere-finance {
    background-image: url(/uploads/ressources/finance.png);
    height: 190px;
    width: 100%;
    margin-top: 90px;
    text-align: center;
    background-position-y: 190px;
    background-position-x: 97%;

  h1 {
    font-size: 70px;
    padding-top: 50px;
    font-family: "open sans";
    text-align: right;
    margin-right: 70px;
    font-weight: 100;
        .boldTitle{
          font-weight: 600;
        }
  }

  p {
    margin-top: 50px;
  }
}

#onglets { display: none; }

.onglets-container {
  background: $gris-blanc;
  height: 145px;
  margin-top:-15px;
  }

#onglets li {
  font-family: $openSans;
  background-color: #F7F7F7;
  float: left;
  list-style: none;
  padding: 50px 170px 50px 170px;
  cursor: pointer;
  z-index: 1;
 
  font-size: 25px;
  margin-left: -40px;
 
  &:last-child {
    margin-left: -2px;
  }

 
  a { text-decoration:none; color:white; }
  
  &.actif {
    z-index: 10;
    border-bottom: 5px solid $rose-moyen;
    color:$rose-moyen;
    background-color:white;

  }
}

#onglet-contenu {
  margin-bottom: -22px;
  clear: both;
  position: relative;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  background: $gris-blanc;
 
  .item{
    width: 90%;
    margin: auto;
    background: $gris-blanc;
    
    .box{
      padding-bottom: 27px;
      margin-bottom: 50px;
      margin-top: 25px;

      .box-title{
        background-color:$bleu-fonce;
        height: 135px;

        .arrowDown {
          width: 3%;
          float: right;
          margin-top: -50px;
          margin-right: 100px;

          img {
            border: 1px solid black;
            padding: 40px 40px 40px 40px;
            margin-top: -35px;
            background-color:white;
            box-shadow: 1px 2px 0px black;
          }
        }

        h2 {
          margin-left: 30px;
          padding-top: 40px;
          color: white;
          font-family: "open sans";
          font-weight: 200;
          font-size: 40px;
          border-bottom: 2px solid white;
          width: 33%;
          padding-bottom:10px;
        }
      }

      .box-content {
        display:none;
        
        .white-box-container{
          background-color:white;
          text-align: center;
          min-height: 780px;


          ul  {
            padding: 50px;
            font-size: 25px;
            text-align: left;

            li{
                  padding-bottom: 60px;
                  list-style:none;
            }
          }
    
          p {
            padding: 30px;
            font-size:25px;
            text-align: left;

            #boldText {
              font-weight: 600;
            }

            &+p{
               padding-top:0px;
            }
          }

          .button {
            font-size: 25px;
            padding: 22px 100px 22px 100px;
            border: 3px solid $rose-moyen;
            border-radius: 50px;
            color: $rose-moyen;
            list-style:none;

            &:hover{
              background-color:$rose-moyen;
              color:white;
              transition:0.5s all;
            }
          }
          #fleche_down {
            text-align:center;
            #dlIcon{
              border:1px solid black;      
              padding: 43px 24px 50px 24px;
              img {
                width:90px;
                padding:20px;
              }
            }
          }
        }
      }
    }
  }

  .box-content-finance {
    background-color:white;
    margin-top:25px;
  }
}

#footer-Wrapper #lien-utile {
    margin-top: -20px;
    background-color: #00A5A3;
    min-height: 540px;
    color: white;
}

#footer-Wrapper #newsletter {
    background-color: #00B9B7;
    min-height: 358px;
    margin-bottom: -16px;
}

.content-action {
      min-height: 880px !important
      ;
}


