
#banniere-franchise {
     background-image: url(/uploads/ressources/franchise-banniere.jpg);
    height: 380px;
    width: 100%;
    margin-top: 90px;
    text-align: center;
    background-position-y: 65%;
    background-position-x: -200%;
    background-repeat: no-repeat;


    h1{
	    padding-top: 137px;
	    margin-left: 65px;
	    text-align: left;

	    color:$bleu-ciel;
	    font-weight:600;

	    .boldTitle {
	    	color:black;
	    	font-weight:300;
	    }
    }
}

#onglets-partenariat{
	li {
    margin-top: -15px;
    font-family: "avenir";
    background-color: #F7F7F7;
    float: left;
    list-style: none;
    padding: 49px 87px 50px 94px;
    cursor: pointer;
    z-index: 1;
    font-size: 23.06px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -6px;
    width: 34.6%;

	   	&.actif {
	   		z-index: 10;
		    border-bottom: 5px solid #D31466;
		    color: #D31466;
		    background-color: white;
			  text-overflow: inherit;
		    overflow: visible;
		    white-space: inherit;
		    width: 35%;
		    
		    padding: 50px 10px 50px 38px;
	   		&:last-child {
   		    	padding: 50px 10px 50px 53px;
   			}
	   	}

	   	&:first-child {
	   		margin-left: -41px;
	   		padding: 50px 10px 50px 75px;
	   	}

	}
}

#onglet-contenu {
	.item {
		
		.box-franchise {
    		padding-bottom: 27px;
    		margin-bottom: 50px;
    		margin-top: 25px;

    		.imgEntete {
    			width:100%;

    		}

    		 .box-title{
        		background-color:$rose-moyen;
        		height: 180px;

        		.arrowDown {
          			width: 3%;
          			float:right;
          			margin-top: -50px;
          			margin-right: 125px;
          			
          			img {
            			padding: 40px 40px 40px 40px;
            			margin-top: -38px;
            			background-color:white;
            			box-shadow: 1px 2px 0px $gris-blanc;
          			}
          		}
          		
          		h2 {
          			margin-left: 30px;
          			padding-top: 45px;
		          	color: white;
		          	font-family: "open sans";
		          	font-weight: 200;
		          	font-size: 30px;
		          	width: 33%;
		          	padding-bottom:10px;
        		}

    		}
    		
    		.box-content {
    			display:none;
    			
    			.white-box-container{
      				background-color:white;
      				text-align: center;
          			min-height: 780px;
          		 	
          		 	p {
           	 			padding: 30px;
            			font-size:25px;
            			text-align: left;
            			margin-top:50px;

            			#boldText {
             			 	font-weight: 600;
            			}	

            			 &+p{
               				padding-top:0px;
            			}
            		}
          		}
    		}
		}
	}
}