#historique-content-container {
	padding:40px;
	background-color:white;
	width:100%;
	margin:auto;
	font-family:$openSans;

		img {
		display:none;
	}

	p { 
		line-height: 50px;
		padding-bottom:40px;
		margin-top:50px;
		text-align:left;
		    font-size: 25px;

		.blue-title {
			color:$bleu-azur;
			font-size: 42px;
		}
	}

	h2 {
		font-size:48px;
		text-align:left;

	}

	h3 {
		color:$rose-moyen;
		padding-top:80px;
		font-size:48px;
		font-family:$openHeavy;
		font-weight: 600;
	}

	#date-historique {
		margin-top:100px;
		text-align:center;
	}


	#svgtest {
		display:block;
		margin:auto;
		width:5px;
		
		&:last-child {
			display:none;
		}
	}
}
