h1 {
   font-size: 45px;
    padding-bottom: 50px;
    margin-left: 50px;
    padding-top: 50px;

    &+h1 {
    	display:none;
    }
}


#red {
	width: 100%;
	height:400px;
	background-color: $rose-moyen;
	color:white;
	position:relative;
  	margin-top: -103px;

  	.plusLink {
        text-align: right;
	    float: right;
	    background-color: white;
	    font-size: 79px;
	    padding: 2px 44px 2px 44px;
	    margin-top: -82px;
	    box-shadow: 0px 0px 10px black;
	    color:black;
	    font-weight:$normal-light;
  	}

  a {
	    float: right;
	    margin-right: 50px;
	    margin-top: -38px;
	    background-color: white;
  	}

  	.redLink {
	    background-color:$rose-moyen;
	    float: left;
	    margin-left: 50px;
	    padding: 15px 104px 15px 104px;
	    border-radius: 67px;
	    color:white;
	    border:1px solid white;
	    font-size:20px;
	    box-shadow:inherit;
	    transition: 0.5s all;

	    &:hover {
	      background-color:white;
	      color:$rose-moyen;
	      transition : 0.5s all;
    	}
  	}

	img {
		width: 129px;
		height: 74px;
	}

	h2 {
		font-family:$openSans;
		font-size:46px;

	}

	#titleRed {
		padding:35px 0px 0px 50px; 
	}

	#contentRed {
		position: absolute;
	
    	p {
  			margin: 50px;
  			font-size: 24px;
  			width: 411px;
  			font-family: $openSans;
      		padding-bottom: 10px;
  		}
	}
}

/*============== A LA UNE ==================== */ 

.hotarticle {
    font-family: 'Open Sans', sans-serif;
	position: relative;
	width:100%;
	img { 
		width:100%;
		z-index:1; 
		height:680px;
	}

	iframe {	
		display:none;
		}
	
    h2, h1, a {
		position: absolute; 
			bottom: 219px; 
			right: 20px;
			color:white; 
	}
	
    h2 {
        font-size: 54px;
        width: 635px;
        right: 22px;
	}
	
    h1 {
	    font-size: 46px;
		top: 155px;
		border-bottom: 3px solid white;
		bottom: 396px;

	}
	
    a {
    font-size: 25px;
    padding: 22px 100px 22px 100px;
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    font-family: "avenir";
    bottom:29px;

		&:hover {
			background-color:white;
			color:black;
			transition: 1s all;
			text-decoration:none;
		}
	}
}

/*============== Actualité et Agenda ==================== */ 
#news-and-calendar {
    font-family:$openSans;
	width:100%;
	text-align: center;
	
    h1 {
        font-size: 45px;
        padding-bottom: 50px;
        margin-left: 50px;
        color: #00B9B7;
        padding-top: 50px;
        text-align: left;
        font-family:$avenir-heavy;
	}

	.table {
		border-bottom:3px dotted $gris-moyen;
		width:95%;
		text-align:left;
		margin-bottom: 100px;
		font-family:$openSans;
		font-weight: 200;

		
	}

	ul { margin-top : -50px; }
	
    li {
		list-style:none;
		font-size:26px;
		padding-bottom: 20px;
		
		.plusLink{
		  text-align: right;
          float: right;
          background-color: white;
          font-size: 79px;
          padding: 2px 44px 2px 44px;
          margin-top: -81px;
          box-shadow: 0px 0px 10px $gris-blanc;
          color: black;
          font-weight: 400;
          font-family:$openSans;
		}
	}

	ul li:last-child{
	  margin-top: 100px;
	}

	.button {
		font-size: 25px;
		padding :22px 100px 22px 100px;
		border: 3px solid $bleu-ciel;
		border-radius: 50px;
		color: $bleu-ciel;
		font-family:$avenir;

		&:hover{
			color:white;
			background-color: $bleu-ciel;
			text-decoration:none;
			transition:1s all;
		}
	}

	#calendar {
		margin-top:35px;
	}
}

/*============== En quelques chiffres ==================== */ 

#chiffre-cles {
    font-family: 'Open Sans', sans-serif;
	text-align: center;

	#image-façade, #image-senior {
		display:none;
	}

	h1 {
        font-size: 45px;
        padding-bottom: 50px;
        margin-left: 50px;
        padding-top: 50px;
        text-align: left;
	}

	.cube {
		width: 49%;
        height: 439px;
        display: inline-block;
        margin-right: -5px;

		.cubeTitleWhite {
			font-size: 88px;
			color:white;
			font-weight: bold;
			border-bottom:2px solid white;

		}

		.cubeContent {
			margin-top: 83px;
			padding-left: 23.5px;
			padding-right: 40.5px;
		}

		.cubeTitleAzur {
			font-size:88px;
			color:$bleu-azur;
			font-weight: bold;
			border-bottom:2px solid $bleu-azur;
		}

		.cubeTitleRose {
			font-size:88px;
			color:$rose-clair;
			font-weight: bold;
			border-bottom:2px solid $rose-moyen;
		}

		.text {
			font-size: 25px;
			width:20px;
		}
	}

	.rose {
		background-color:$rose-moyen;
		color:white;

	}

	.noir {
		background-color:$gris-fonce;
		color:white;
	}

	.gris-moyen {
		background-color:$gris-clair;
		
	}

	.bleu-azur {
		background-color:$bleu-azur;
		color:white;
	}

	.gris-clair{	
		background-color:$gris-blanc;
	}
}