k#banniere-orthopedie {
	
	height: 254px;
    margin-top: -2px;
    background-image: none;

	background-image:none;


	.text-banniere {
		background-color:#3BB9C0;
		height:190px;
		width:100%;
		margin-top:90px;
		float:right;



		h1 {
	    	margin-left: 70px;
	    	padding-top: 59px;
	    	color: white;
	   		font-family: "open sans";
	    	border-bottom: 2px solid white;
	    	width: 14%;
	    	padding-bottom: 8px;
	    	font-size: 53px;
		}
	}
}

#content-wrapper {
	 afont-size:30px;
	font-family:$openSans;
	background-color:$gris-blanc;
	padding:30px;
	margin-bottom:-26px;

	#content-container {
		padding:40px;
		background-color:white;
		width:100%;
		margin:auto;

		p { 
			line-height: 50px;
			padding-bottom:40px;

			.blue-title {
				color:$bleu-azur;
				font-size: 42px;
			}
		}

		ul {
			line-height:50px;
			padding-bottom:40px;
			list-style-image: url('/uploads/ressources/chevron_noir.png');
		}
	}

	#plaquette-et-contact {
		text-align:center;
		
		img {
			width:180px;
			padding-bottom: 35px;
		}

		a {
    		padding: 13px 60px 13px 60px;
    		border: 3px solid $rose-moyen;
    		border-radius: 50px;
    		color: $rose-moyen;
    		text-decoration:none;

    		&:hover {
    			color:white;
    			background-color:$rose-moyen;
    			transition: 1s all;
    		}
		}
		.left {
			float: left;
    		width: 50%;
    		border-right: 2px dotted $gris-moyen;
		}
	}

	#liste-agence {
		padding-top:90px;
		text-align:center;
		padding-bottom: 60px;

		p {
			color:$bleu-azur;
			font-size: 28px;
    		font-family: $openLight;
    		font-weight: 300;
		}

		img {
			width:180px;
			padding-bottom: 49px;
		}

		form {
			width: 50%;
    		float: left;
    		margin-left: 10px;

    		input {
    			border:none;
    			background-color:$gris-blanc;
    			padding-left:50px;
    			height: 75px;
    			margin-top: -56px;
    			width:80%;
    		}
		}

		a {
    		padding: 13px 60px 13px 60px;
    		border: 3px solid $rose-moyen;
    		border-radius: 50px;
    		color: $rose-moyen;
    		text-decoration:none;
    		margin-left: 15px;

    		&:hover {
    			color:white;
    			background-color:$rose-moyen;
    			transition: 1s all;
    		}
		}
	}
}