#background {
	background-image: url('../uploads/ressources/kito_background.JPG');

	#blueBackground {
		 background: -webkit-linear-gradient(top, rgba(0,35,74,0.9), rgba(0,35,74,1)); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(bottom, rgba(0,35,74,0.9), rgba(0,35,74,1)); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(bottom, rgba(0,35,74,0.9), rgba(0,35,74,1)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to bottom, rgba(0,35,74,0.9), rgba(0,35,74,1)); /* Standard syntax (must be last)*/
	    background-size:cover;
	    background-repeat:no-repeat;
	}
	
	#banniere-partenariat {
		height:190px;
		width:100%;
		margin-top:90px;
		text-align: center;

		h1 {
			font-size:70px;
			margin:auto;
			padding-top: 80px;
			font-family: $avenir-heavy;
			font-weight: 900;
			color:white;
		}

		p {
			margin-top: 50px;
		}
	}

	.white-box {
		background-color:white;
		width:92%;
		margin: auto auto 35px;
		padding:35px;


		&:first-child{
			p {
				padding-top:25px;
				font-size:20px;
			}
		}

	}

	.white-box-title {
		.redTitle{
			color:$rose-fonce;
			font-weight: 600;
			font-size:40px;
		}
	}


#content-wrapper-partenariat {
	padding-bottom:2px;

	.white-box-content {

		p {
			font-size:25px;
		}

		#kito-informations-wrapper {
			text-align: center;
			margin-top:80px;
			margin-bottom:35px;
			.kito-informations {
				display:inline-block;

				&:first-child{
					margin-right: 48px;	
				}

		
				img {
					opacity: 0.5;
    				margin-bottom: 25px;
    				width: 150px;
				}

				p {
					text-align:left;
					padding:25px 64px 35px 64px;
					border-radius: 162px;
					font-size:16px;
					background-image: -webkit-linear-gradient(right, hsl(170, 0%, 95%), #FFFFFF); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
					background-image: -moz-linear-gradient(right, hsl(170, 0%, 95%), #FFFFFF); /* For Firefox (3.6 to 15) */
					background-image: -o-linear-gradient(right, hsl(170, 0%, 95%), #FFFFFF); /* For old Opera (11.1 to 12.0) */ 
					background-image: linear-gradient(to left, hsl(170, 0%, 95%), #FFFFFF); /* Standard syntax; must be last */
			    	color:$gris-moyen;

			    	.boldTitle{
			    		font-weight:600;
			    	}
				}
			}
			.actif {
				opacity:1;
				z-index:10;
				
				img {
					opacity:1;
					width:250px;
				}
				
				p {
					background: $rose-clair !important;
				    color: white;
				    border-radius: 162px;
				    font-size:20px;
				}
			}
		}
	}
}

	.presentation-yannick {display:none;
	}
	
	.presentation-kito{display:none;}	


	.contenu-presentation-kito{
		display:table;

		&:before {
		    content: "";
		    display: block;
		    background: url("../uploads/ressources/dottedline.svg") no-repeat;
		    width: 31px;
    		height: 511px;
    		float: left;
    		margin: -64px 6px 0 162px;
		}

		p { 
			font-size:20px; 
	    	margin-top: -16px;
	    	    line-height: 35px;

	    	&+p {
	    		margin-top: 35px;
    			line-height: 45px;
    			margin-bottom: 21px;

	    	}

	    	&+p+p {
	    		margin-top:40px;
	    	}

	    	.redPres{
	    		color:$rose-clair;
	    		font-weight:600;
	    	}
		}
	}
}


#notre-bateau {
   	background-color: #00234A;
    background-image: url(../uploads/ressources/imoca.svg);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position-x: 100%;
    background-position-y: -1%;
    margin-top: -1px;
    padding: 35px 35px 70px 35px;
    color: white;
    margin-bottom: -30px;

    h2 {
    	margin-left:11px;
    	padding-bottom:35px;
	     font-size: 40px;
	     font-weight:200;
	    .redTitle{
	    	color:$rose-fonce;
	    	font-weight:600;
	    }
	}

	ul {
		margin-left: -25px;
		padding-bottom:50px;
		li{
			
			font-size:18px;
			list-style:none;
			font-weight:200;
		}
	}

	#gallery-kito {
		text-align:center;

		iframe {
			width:98%;
		}

		.imgWrapper {
	        vertical-align: top;
	        display: none;
	        text-align: center;
	        width: 49%;

	        img{
		       width:100%;
		       border:1px solid $gris-fonce;
		       margin-top:35px;
		       margin-left: 4px;
	    	}
	    }

	    #partenariat-button {
	    	text-align: center;
    		margin-top: 70px;

	    	
	    	a {
	    		font-size: 25px;
			    padding: 25px 100px;
			    border: 2px solid $rose-moyen;
			    border-radius: 50px;
			    text-decoration: none;
			    color: $rose-moyen;
    			
    			&:hover{
    				background-color:$rose-moyen;
    				color:#003264;
    				transition:0.5s all;
    			}
	    	}
	    }

	    #partenariat-buttonless{
	    	display:none;
	    	 margin-top: 80px;
	    	a {
	    		font-size: 25px;
			    padding: 25px 100px;
			    border: 2px solid $rose-moyen;
			    border-radius: 50px;
			    text-decoration: none;
			    color: $rose-moyen;
    			
    			&:hover{
    				background-color:$rose-moyen;
    				color:#003264;
    				transition:0.5s all;
    			}
	    	}
	    }
    }
}

#bastide-et-kito {
	background-color: #00234A;
    margin-top: 120px;
    padding-bottom: 99px;
    margin-bottom: -50px;

	   .modal {
			h2 {
				color:black;
				margin:auto;
				font-weight:600;
			}
		}

	h2 {
	 	color:white;
	 	font-weight:200;
	 	font-size:40px;
	 	margin-left:70px;
	 	margin-bottom:35px;

	 	.redTitle {
	 		color:$rose-fonce;
	 		font-weight:600;
	 	}
	}
	
	h3 {
		padding-bottom: 25px;
		color:black;
	}

	.white-box-content {

	

		.postImage {
			width:100%;
		}

		p {
			margin-top:25px;
			font-size:20px;
			width:70%;
			color:black;
		}
		.showmoreicon{
			width: 0%;
		    float: right;
		    font-size: 70px;
		    margin-top: -95px;
		    padding: 1px 79px 2px 35px;
		    box-shadow:0px 0px 20px #D2D2D2;
		   	a {
		   		color:black;
		   		text-decoration:none;
		   	}
		}
	}

	#Bast-kito-button {
    	text-align: center;
		margin-top: 70px;
    	
    	a {
    		font-size: 25px;
		    padding: 25px 100px;
		    border: 2px solid $rose-moyen;
		    border-radius: 50px;
		    text-decoration: none;
		    color: $rose-moyen;
		    transition: 0.5s all;

		    &:hover{
		    	color:#003264;
		    	background-color:$rose-moyen;
		    	transition:0.5s all;
		    }
    	}
    }

    #Bast-kito-buttonless{
    	text-align: center;
		margin-top: 70px;
    	
    	a {
    		font-size: 25px;
		    padding: 25px 100px;
		    border: 2px solid $rose-moyen;
		    border-radius: 50px;
		    text-decoration: none;
		    color: $rose-moyen;
		    transition :0.5s all;
		    
		    &:hover{
		    	color:#003264;
		    	background-color:$rose-moyen;
		    	transition:0.5s all;
		    }
    	}
    }

	.modal-body {
		min-height: 50%;
		img {
			width:100%;
		}
		
		p {
			font-size:25px;
			margin-top:25px;
		}
	}
}
