#banniere-presse {
    background-image:url('../uploads/ressources/fondpresse.jpg');
    opacity : 0.9;
    height: 190px;
    width: 100%;
    margin-top: 90px;
    text-align: center;
    background-position-y: 190px;
    background-position-x: 97%;
    z-index:1000;
    

    img{z-index:10;}

  h1 {
    font-size: 70px;
    padding-top: 50px;
    font-family: "open sans";
    text-align: right;
    margin-right: 70px;
    color:white;
    font-weight: 100;
        .boldTitle{
          font-weight: 500;
        }
  }

  p {
    margin-top: 50px;
  }
}


#onglets-presse { display: none; }

.onglets-container {
  background: $gris-blanc;
  height: 145px;
  margin-top:-15px;
  }

#onglets-presse li {
     font-family: $avenir;
    background-color: #F7F7F7;
    float: left;
    list-style: none;
    padding: 43px 46px 50px 46px;
    cursor: pointer;
    z-index: 1;
    font-size: 23.06px;
 


  &:first-child {
    margin-left: -39px;
  }
 
  a { text-decoration:none; color:white; }
  
  &.actif {
    z-index: 10;
    border-bottom: 5px solid $rose-moyen;
    color:$rose-moyen;
    background-color:white;
  }
}


#Pagination {
  text-align: center;
}

#onglet-contenu {
  #filterSearch {
    padding: 26px 42px 32px 70px;
    form{
      font-size:22px;
      label{
        margin-right:25px;
      }
      input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px dotted black;
        padding-left:20px;
      }
    }

    p {
      font-size:22px;
    }
  }
}

.box-presse {
  padding-bottom:50px;
}

.news-container {
  font-family: $openSans;
  background-color: white;

  .white-box-container {
    padding: 25px;
    text-align: center;

    h2{ 
      text-align:left;
      padding-bottom:50px;
    }

    .date { text-align: left; }

    img { 
      width:100%;
      border-top:1px solid black;
      padding-top:25px;
    }

    p {
      font-size: 24px;
      width: 67%;
      margin-top: 25px;
      text-align: left;
    }

    .plusLink {
      float: right;
      font-size: 60px;
      margin-top: -115px;
      margin-right: 51px;
      box-shadow: 0px 0px 20px #D2D2D2;
      padding: 11px 40px 11px 41px;
    }
  }
}



div.fadeMe {
    opacity:0.7;
    filter: alpha(opacity=20);
    background-color:#000; 
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
  }
  


/*================ MEDIATHEQUE ===================*/

.mediatheque-container {
  font-family: $openSans;
      font-size:25px;
  
    option {
      font-family: $openSans;
      font-size: 15px;
    }
  
    #white-media-container-list {
      font-family:$openSans;
      background-color:white;
      display:none;
      padding:30px;

      .searchFilterResults {
        padding-bottom:15px;
        display:none;

        &:first-child{
          display:block;
        }
        
        img {
          margin-top:-15px;
        }
      }

      img {
        width: 7%;
        float:left;
        margin-top:10px;
      }

      p {
        padding-bottom: 70px;
        margin-top:25px;
        padding-left: 100px;
        font-weight: 600;

        &:last-child{
          padding-bottom:10px;
      }
    }
  }
  
  #media-container-mosaique {
    padding:35px;
    .mediatheque-container-data{
      display:none;
      text-align:center;
      &:first-child{
        display:block;
      }



      #imgWrapper {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 49%;
      }

      .caption {
        display:block;
      }
    }

    .pdfImage {
      width:40%;
    }


    .filteredImages{
      width:100% !important;
    }
    img{
      width:100%;
      border:1px solid $gris-fonce;
      margin-top:35px;
      margin-left: 4px;
    }


    .pdf-searchFilterResults {
      text-align: center;
      p{ text-align:center;}
    }

     .video-searchFilterResults {
      text-align: center;
      p{ text-align:center;}
    }

    .image-searchFilterResults{
      text-align:center;
      display:none;
      img {
        width:100%;
      }
    }
  }
}


 #media-buttonLess { 
    text-align:center;
    margin-top:70px;
    display:none;
   
   a{
      font-size: 25px;
      padding: 25px 207px;
      border: 2px solid $bleu-fonce;
      border-radius: 50px;
      text-decoration: none;
      color:$bleu-fonce;

      &:hover{
        color:white;
        background-color:$bleu-fonce;
        transition:0.5s all;
      }
    }
  }

#media-button { 
  text-align:center;
  margin-top:70px;
  
  a{
    font-size: 25px;
    padding: 25px 100px;
    border: 2px solid $bleu-fonce;
    border-radius: 50px;
    text-decoration: none;
    color:$bleu-fonce;

    &:hover{
      color:white;
      background-color:$bleu-fonce;
      transition:0.5s all;
    }
  }
}


/*================= AGENDA ===================*/


.agenda-container {
  padding:25px;
  margin-top:25px;
  background-color:white;
  font-family: $openSans;
  display:none;


  h2 { 
    text-transform: uppercase;
    font-size: 21pt;
    color:$bleu-fonce;
    font-weight:600;  
    border-bottom:2px dotted $gris-fonce;
    padding-bottom:25px;
    width:75%;
  }

  a {
    color:black;
    .plusLink {
      float: right;
      margin-top: -63px;
      margin-right: 10px;
      font-size: 60px;
      box-shadow: 0px 0px 20px #D2D2D2;
      padding: 11px 40px 11px 41px;
      text-decoration: none;
    }
  }

  p {
    padding-top:25px;
    font-size:23px;
    font-weight: 600;
  }


}
  #button { 
    text-align:center;
    margin-top:70px;
   
   a{
      font-size: 25px;
      padding: 25px 100px;
      border: 2px solid $bleu-fonce;
      border-radius: 50px;
      text-decoration: none;
      color:$bleu-fonce;

      &:hover{
        color:white;
        background-color:$bleu-fonce;
        transition:0.5s all;
      }
    }
  }

  #buttonLess { 
    text-align:center;
    margin-top:70px;
    display:none;
   
   a{
      font-size: 25px;
      padding: 25px 207px;
      border: 2px solid $bleu-fonce;
      border-radius: 50px;
      text-decoration: none;
      color:$bleu-fonce;

      &:hover{
        color:white;
        background-color:$bleu-fonce;
        transition:0.5s all;
      }
    }
  }

/*========================== Modal ============================*/
.modal {
  text-align: center;
  padding: 0!important;
  font-family:$openSans;

  .modal-header {
    border:none;

    h2 {
      font-size: 30px;
      font-weight: 600;

    }



    .modal-title {
      text-transform: uppercase;
      font-size: 21pt;
      color:$bleu-fonce;
      font-weight:600;  
      padding-bottom:25px;
      padding-top:0px;
    }
  }

  .modal-content{ 
    padding:25px;
    
  }

  .modal-body {
    position: relative;
    
    padding: 15px;
    
    .left {
      width:80%;
      float: left;

      p {
        font-size:25px;

        &+p {
          padding-top: 0px;
          font-weight: bold;

          &+p {
            padding-top: 25px;
          }
        }
      }
    }

    .right {
      float:right;

      a {
        box-shadow: 0px 0px 20px #D2D2D2;
        padding: 92px 31px 15px 31px;
      }

      img { 
        width: 70px;
        margin-bottom: 92px;
      }
    }
  }
  #firstImage{
    margin-bottom: 67px;
  }
 
  .modal-header .close {
    margin-top: -12px;
    font-size: 50px;
    color: black;
    opacity: 0.6;
    margin-right: 0px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.modal:before {
  content: '';
  display: inline-block;
  height:100%; ;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-backdrop.in {   
  opacity:0.95 !important;
}

.modal-dialog {
  width: 90%;
}


/*========================= Thumbnail ======================*/

#thumbnail {
    background: rgba(0, 0, 0, 0.9);
    display:none;
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed;

    #thumbnail-content {
      position: fixed; 
    width: 100%;
    top: 100px;
    height:100vh;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;

    #thumbnail-content-wrapper {
      color: white;
    position: absolute;
    margin: auto;
    bottom: 500;
    left: 0;
    right: 0;
    font-size: 31px;
    }
    #bigImg {
       position: absolute;
      top: 0px;
      bottom: 300px;
      margin: auto;
      width: 90%;
      right: 50px;
      padding: 10px;
      background: white;
    }    
  }

  #dlicon {
    position: absolute;
    width: 16%;
    /* width: 11%; */
    /* top: 0px; */
    bottom: 100px;
    margin: auto;
    right: 0;
    left: 200px;
    padding: 37px 45px 22px 45px;
    background: white;
  }

  #shareicon {
    position: absolute;
    padding: 42px 41px 39px 45px;
    /* top: 0px; */
    width: 16%;
    bottom: 100px;
    margin: auto;
    right: 200px;
    left: 0;
    /* padding: 25px; */
    background: white;
  }
}
