.box-container {
	padding: 40px;
	background-color: white;
	width: 100%;
	text-align: center;
	
	&~.box-container {
 		margin-top: 50px; 
 	}
	
	h2 {
		font-size:48px;
		color:$rose-moyen;

	}
	
	.title-border:before {
		left:351px;
		border-bottom:3px dotted black;
	}

	img {
		padding-top: 50px;
		width: 350px;
	}

	p { 
		padding-top:70px; 
		text-align:left;
		font-size: 25px;
	}
}


