#admin-agenda-container {
	
	h2 {
		color:$bleu-fonce;
		font-size:40px;
		margin-bottom:20px;
	}

	thead {
		margin-top:20px;
		font-size:30px;
		color:$gris-fonce;
	}

	button {
		font-size:25px;
		margin-bottom:35px;
	}
	.modal-header {
		button {
			font-size: 70px;
		}
	}

	.modal-body {
		font-size:30px;

		input {
			font-size:25px;
		}
		
		button {
			font-size:30px;
		}
	}



	.modal-footer {
		button {
			font-size:30px;
		}
	}
}