#article-admin-container {

	.modal {
		.modal-header {
			.modal-title {
				font-size:40px;
			}
		}

		.modal-dialog {
			width:90%;
		}

		label {
			font-size:35px;
		}

		form {
			font-size:25px;
			input[type="text"], textarea, input[type="file"]  {
				font-size:35px;
			} 
		}
	} 


	margin-top:136px;

	h2 {
		color:$bleu-fonce;
		margin-bottom:50px;
		font-weight:$bold;
		margin-left:25px;
		font-size:55px;
	}


	button {
		font-size:25px;
	}

}
	
.tableBody {

	.title-row {
		width:42%;
	}

	.date-row {
		width: 10%;
	}

	.autor-row {
		width:12%;
	}

	.categorie-row {
		width: 15%;
	}


	td {

		img { 
			width:40px;
			margin-right:7px;
		}
	}
}
