#carriere-admin-container {
	margin-top:150px;

	h2 {
		font-size:40px;
		color:$bleu-fonce;
		margin-bottom:50px;
	}

	button {
		font-size:20px;
	}

	thead {
		font-size:25px;
	}

	.modal {
		font-size:25px;
	}
}