#admin-categorie-container {
	margin-top:118px;

	h2 {
		color:$bleu-fonce;
		margin-bottom:25px;
		font-size: 45px;
	}


	button {
		font-size:25px;
	}

	.modal {
		.modal-title {
			font-size:45px;
		}

		.modal-body {
			font-size:30px;

			input[type="text"] , select{
				font-size:30px;
			}
		
			button {
				font-size:30px;
			}
		}
	}

	.checked{
		width:40px;
	}
}

