#admin-historique-container {
	margin-top:150px;

	h2 {
		font-size: 40px;
		color:$bleu-fonce;
		margin-bottom:20px;
	}

	button {
		font-size: 25px;
    	margin-bottom: 35px;
	}

	.modal {
		.modal-title {
			font-size:45px;
		}

		.modal-dialog {
			width:90%;
		}

		.modal-body {
			font-size:30px;

			input[type="text"] , select{
				font-size:30px;
			}
		
			button {
				font-size:30px;
			}
		}
	}

	thead {
	    margin-top: 20px;
    	font-size: 30px;
    	color: #3C3C3C;
	}
}