#admin-container {
	margin-top:100px;


	#stat-block-title {
		h1 {
			text-align:center;
			margin-top:150px;
			    font-size: 55px;
		}
	}

	#overviewContent {
		width: 95%;
	    float: left;
	    font-size: 29px;
	    font-family:$openSans;
	    margin-left: 20px;
	    padding: 20px;
	    margin-bottom:20px;
	    text-align: center;
	    box-shadow: 0px 0px 10px $gris-moyen;

	        	h2 {
    		margin-bottom:15px;
    		color: $bleu-fonce;
    		font-weight:$bold;
    	}
	}

    #dates-historique {
        float: left;
        width: 95%;
        text-align: center;
        font-size:29px;
        box-shadow: 0px 0px 10px $gris-moyen;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-left:20px;
        padding:20px;

        h2 {
            font-size:35px;
            font-weight:$bold;
            color:$bleu-fonce;
        }
    }

	#recentActivity {
		width: 47%;
    	float: right;
    	font-size: 29px;
    	margin-right: 20px;
    	text-align:center;
    	padding:20px;
    	box-shadow: 0px 0px 10px $gris-moyen;

    	h2 {
    		margin-bottom:15px;
    		color: $bleu-fonce;
    		font-weight:$bold;
    	}
	}

	#ValidateComments {
		width: 47%;
    	float: left;
    	font-size: 29px;
    	margin-left: 20px;
    	text-align:center;
    	padding:20px;
    	box-shadow: 0px 0px 10px $gris-moyen;

    	h2 {
    		margin-bottom:15px;
    		color: $bleu-fonce;
    		font-weight:$bold;
    	}
	}

	#agenda {
		width: 47%;
    	float: right;
    	font-size: 29px;
    	
    	margin-right: 20px;
    	text-align:center;
    	padding:20px;
    
    	box-shadow: 0px 0px 10px $gris-moyen;

	    h2 {
    		margin-bottom:15px;
    		color: $bleu-fonce;
    		font-weight:$bold;
		}
	}

	.date {
		color:$gris-moyen;
		font-size:25px;
		margin-bottom:-5px;
	}
}