#admin-valeurs-container {
	margin-top:150px;


	button {
		font-size:20px;
	}

	h2 {
		color:$bleu-fonce;
		font-size:45px;
		margin-bottom:50px;
		margin-left: 50px;
		font-weight:$bold;
	}

	thead {
		font-size:25px;
	}

	.modal {
		button {
			font-size:25px;
		}

		.modal-body {
			font-size:25px;
		}
	}
}