@media(min-width: $desktop) {

	#activite-content-wrapper {
		width: 1250px;
     	margin:auto;
    	padding: 10px;
    	background-color: white;
    
		#content-container-mad {
				box-shadow: 0px 0px 10px #D2D2D2;
				padding:20px;
			h2 { 
				font-size:30px;
				width: 100%;
				padding:30px;

			}

			p {
				font-size:18px;
				margin-top:25px;
				margin-left:30px;
			}


			.title-border {
				padding-bottom:0px;

				&:before {
					margin-left:30px;
				}
			}
		}


		#activite-container {
			height: 1280px;
			h2 {
				font-size:30px;
				width:27%

			}

			#mad {
		img {
			heighT:17%;
			margin-top:-68px;
		}
	}

			.activite-mad {
			    
			    width: 45%;
			    float: left;
			    background-image: url(/uploads/ressources/couple_senior.jpg);
			    height: 204px;
			    background-repeat: no-repeat;
			    background-position-x: 285px;
			    background-size: 53%;
			    margin-top: 52px;
			    background-position-y: 0px;
				margin-left: 49px;
    			margin-right: 20px;

			    img {
    	    	    margin-top: -40px;
					width: 16%;
					height: 17.4%;
					box-shadow: -8px 1px 20px #EAEAEA;
			    }

				p {
					top: 72px;
				    width: 67%;
				    left: 84px;
				    font-weight: 600;
				    font-size: 18px;
				}
			}


			.activite-diabete {
			    
			    width: 45%;
			    float: left;
			    background-image: url(/uploads/ressources/couple_senior.jpg);
			    height: 182px;
			    margin-right:20px;
			    background-repeat: no-repeat;
			    background-position-x: 285px;
			    background-size: 53%;
			    margin-top: 52px;
			    background-position-y: 0px;
				
			    img {
					margin-top: -42px;
    				width: 16%;
    				height: 17.4%;
    				box-shadow: -8px 1px 20px #EAEAEA;
			    }

				p {
					top: 78px;
				    width: 67%;
				    left: 73px;
				    font-weight: 600;
				    font-size: 18px;
				}
			}

			#assist-respi {
		img {
			margin-top:-71px !important;
		}

		p {
			top:62px !important;
		}
	}

	#cicat {
	img {
		margin-top: -101px !important;
		height: 17.6%;
	}

		p{
			top:47px !important;
		}
	}


	

	#collectivite {
		img {
			margin-top: -51px !important;
		}
	}
		}
	}
}