@media(min-width: $desktop){
	#article-container {
		#white-box-article {
			width: 1280px;
    		margin-left: 17%;
    		padding:50px 100px 100px 100px;


    		h1 {
    			width:100%;
    			font-size: 48px;
    		}

    		p {
    			font-size:18px;
    		}
		}

		#similarPost-container {
		    width: 1280px;
    		margin: auto;


    		h1 {
    			width: 100%;

    			&:after {
    				margin-left: 34%;
    				width: 31%;
    			}
    		}


    		.actif {
    			width: 32%;
    			margin-left: 5px;
    		}
    		.similar-article {
    			width: 32%;
    			margin-left: 5px;


    			.similarPost-image {
    				height: 272px;
    			}
    		}
		}
	}

}