@media(min-width: $desktop) {

	#banniere-carriere {
		background-image: url('../uploads/ressources/ban_carrieres.jpg');
		background-size:100%;
		background-repeat:no-repeat;
		height:300px;
		width:100%;
		margin-top:90px;
		text-align: center;
		background-position-y: 100%;

		

		h1 {
			font-size:70px;
			margin:auto;
			padding-top: 111px;
			font-family: $avenir-heavy;
			font-weight: 900;
			color:black;
			margin-left:16%;
        
		}

		p {
			margin-top: 50px;
		}
	}

	#carriere-container {
	height:900px;

	#carriere-content-wrapper{
		 #carriere-container {
		 	width:1280px; 
		 	margin:auto;
		 	
		 	#magasinier, #livreur {
		 		img {
		 			margin-top:-44px;
		 		}
		 	}

		 	#respAgence{
		 		img {
		 			margin-top:-42px;
		 			height : 20.5%;
		 		}
		 	}

		 	.carriere-gauche {

		 		width: 45%;
			    
			    background-image: url(/uploads/ressources/couple_senior.jpg);
			    height: 204px;
			    margin-right:20px;
			    background-repeat: no-repeat;
			    background-position-x: 285px;
			    background-size: 54%;
			    margin-top: 52px;
			    background-position-y: 0px;
				
			    img {
					margin-top: -42px;
    				width: 18%;
    				height: 20.7%;
    				box-shadow: -8px 1px 20px #EAEAEA;
			    }

				p {
					top: 78px;
				    width: 67%;
				    left: 73px;
				    font-weight: 600;
				    font-size: 18px;
				}
		 	}

		 	.carriere-droite {
				width: 45%;
			    float: right;
			    background-image: url(/uploads/ressources/couple_senior.jpg);
			    height: 204px;
			    margin-right:20px;
			    background-repeat: no-repeat;
			    background-position-x: 285px;
			    background-size: 54%;
			    margin-top: -202px;
			    background-position-y: 0px;
				
			    img {
					margin-top: -69px;
    				width: 18%;
    				height: 20.5%;
    				box-shadow: -8px 1px 20px #EAEAEA;
			    }

				p {
					top: 78px;
				    width: 32%;
				    left: 73px;
				    font-weight: 600;
				    font-size: 18px;
				}
		 	}
		 }
		 }
	}

	.cubeWrapper {
		display:block;
	}
}

