@media(min-width: $desktop) {
	
	#banniere-finance {
		height: 300px;
		background-size:cover;
		background-repeat:no-repeat;
		background-position-y: 12%;
		margin-top: 43px;

		h1 {
			text-align:left;
			padding-top: 100px;
    		padding-left: 120px;
		}
	}

	#onglet-contenu {
		
		.item {
			background-color:white;
			box-shadow:0px 0px 10px #D2D2D2;
		
			margin-top:25px;
			width:1280px;
			
			.box {
			    margin-left: -53px;;
			    width: 107%;		    
			
				.box-title {
					background-color:$gris-clair;

					h2 {
						color:$bleu-fonce;
						width:20%;
						font-weight:$bold;
						border-bottom:2px solid $bleu-fonce;
						font-size:30px;
					}

					.arrowDown img {
						display:none;
					}
				}
				
				.box-content {
					display:block;
					

					.white-box-container {
						padding: 20px;
 			 	 		margin-left: 50px;
 			 	 		background-color:transparent;
 			 	 		min-height:inherit;
 			 	 		text-align:left;

 			 	 		#fleche_down {
 			 	 			text-align: right;
						    float: right;
						    margin-top: -300px;
						    margin-right:110px;
 			 	 			#dlIcon {
 			 	 				border: none;
   								padding: 65px 10px 91px 53px;
   								text-align:right;
   								box-shadow: 0px 0px 10px #EAEAEA;
   								transition: 0.5s all;

   								&:hover {
   									background-color:$gris-clair;
   									box-shadow: 0px 0px 10px black;
   									transition: 0.5s all;
   								}
 			 	 			}
 			 	 		} 

 			 	 		ul {
 			 	 			padding:50px 50px 20px 50px;

 			 	 			li {
 			 	 				list-style: none;
 			 	 				color:$bleu-azur;
 			 	 				padding-bottom:25px;
 			 	 			}
 			 	 		}


 			 	 		p {
 			 	 			font-size:18px;
 			 	 			width:60%;

 			 	 		}

 			 	 		img {
 			 	 			float:right;
 			 	 				float:right;
	 			 	 			width:44%;
	 			 	 			margin-right: 45px;
 			 	 			&:last-child {
	 			 	 			float:none;
	 			 	 		}
 			 	 		}

 			 	 		.button {
 			 	 			font-size: 18px;
    						padding: 11px 50px 11px 50px;
    						margin-left:50px;
 			 	 		}
					}

					.content-action {
						min-height:inherit !important;
						text-align:left;

						p {
							width:55%;
						}

						.button {
							margin-left:100px;
						}
					}
				}
			}
		}
	}
}