@media(min-width: $desktop ){
		

	#banniere-franchise {
		background-size: cover;
    	background-position-y: 41%;
    	background-position-x: 97%;
    	background-repeat: no-repeat;
   
	}

	#container {
		min-height:950px;
	}

	.onglet-container{
		margin-bottom:170px;
	}

	#onglets-partenariat {
		li {
			margin-top: -15px;
	   		font-family: "avenir";
	   		background-color: #F7F7F7;
	    	float: left;
	    	list-style: none;
	    	padding: 49px 1px 47px 214px;
	    	cursor: pointer;
	    	z-index: 1;
	    	font-size: 24.06px;
	    	width: 34%;

	    	&.actif {
	    	    z-index: 10;
    			border-bottom: 5px solid #D31466;
   				color: #D31466;
    			background-color: white;
    			text-overflow: inherit;
    			white-space: inherit;
    			width: 33%;
    			padding: 41px 72px 50px 204px;
    			
	    	}


	    	&:first-child {
	    		padding: 49px 1px 47px 214px;
	    		margin-left:-37px;

	    	}

	    	&:last-child {
	    		padding: 50px 10px 50px 224px !important;
	    	}
		}
	}	




#franchise-container {
	width: 1280px;
    height: 2300;
  	 margin: auto;
  	 box-shadow: 0px 0px 10px #D2D2D2;

	 #onglet-contenu {
     	margin-bottom: -22px; 
    	clear: both; 
     	position: relative; 
    	z-index: 5;
     	overflow: hidden;
     	background: inherit;

	 	&+#onglet-contenu {
	 	overflow: visible;
	 	}
	 	.item {
	 		background-color:inherit;
 			
 			.left {
				width: 57%;
    			float: left;
    			margin-left: -93px;
    			margin-top: 50px;
    			border-right: 1px dotted black;
    			padding-right: 0px;
 			}

 			.right {

				width: 57%;
    			float: right;
    			margin-right: -120px;
    			margin-top: 200px;

    			.white-box-container {
					background-color:transparent;
					margin-left: 0px !important;

 				}

 			}
 			
 			.box-franchise {

 				.imgEntete {
 					height:18%;
 					width: 95%;
 				}

 				.box-content {
 					display:block;
 					.white-box-container {
 							background-color:transparent;
 							margin-left:85px;
 							min-height:inherit;
 							text-align:left;
 							width: 85%;
 						p {	
 							font-size:18px;

 							&+p {
 							padding-top:0px;
 							margin-top:0px;
 							}
 						}
 					}
 				}
 				
 				.box-title {

 					background-color: #D31466;
    				height: 141px;
    				margin-top: -104px;
    				z-index: 100000;
    				position: absolute;
    				width: 54.1%;

 					
 					h2 {
 						width: 53%;
 						padding-top: 30px;
 					}
 				}

 				.arrowDown {
 					display:none;

 				}
 			}
	 	}
	 	}
	}
}