@media(min-width: $desktop ){
	#historique-content-container {
		h2 {
			font-size:30px;
		} 

		p {
			font-size:18px;
			margin-top:20px;
			padding-bottom:0px;
			line-height: inherit;

		}


		img {
			float:right;
			margin-top:-112px;
			display:block;
		}


		.bastide-historique-first {
			width: 65%;
		}

	}

	#date-historique {
		#svgtest {
			display:none;
		}

		p { 
			font-size:18px;
			line-height:23px
		}

		min-height: 1200px;
		.left {
			width:49%;
			float:left;
			text-align:right;
			
			h3 {
				font-size:30px;
				color:black;
				padding-top:17px;
			}

			p {
				text-align:right;
				font-size:18px;
				margin-top:20px;
			}
		}

		.right {
			width:49%;
			float:right;
			text-align:left;

			
			h3 {
				font-size:30px;
				color:black;
				padding-top:17px;
			}
			
			p {
				text-align:left;
				font-size:18px;
				margin-top:20px;

			}
		}
	}
}