@media(min-width: $desktop) {
	#red {
		top: 30.5%;
	    bottom: 0;
	    right: 15%;
	    position:absolute;
	    width: 31%;

	    h2 {
	    	font-size:40px;
	    }


	    #contentRed p {
	    	font-size:18px;
	    }

	    .plusLink {
	    	display:none;
	    }
	}

	.hotarticle {
		width:1280px;
		margin:auto;
		
		iframe {
			width: 49%;
		    height: 354px;
		    float: right;
		    display:block;

		}

		img {
			width: 49%;
    		height: 359px;
		}

		h1 {
		 	padding-bottom:0px;
	 	    font-size: 29px;
			top: 40%;
			border-bottom: 3px solid white;
			right: 65%;
    		width: 12%;
			bottom:40%;
		}


		h2 {
			font-size: 23px;
		    width: 21%;
		    right: 56%;
		    top: 61%;
		}

		a {
			bottom:16px;
			padding: 2px 40px 2px 40px;
			right:55%;
			font-size:18px;
		}

	}


	#news-and-calendar {
		width:1280px;
		margin:auto;
		min-height:600px;

		h1 {
			margin:inherit;
			width:100%;
		}


	 	#news {
	 		width: 50%;
    		float: left;

    		ul {
    			margin-left: -30px;
    		}
	 	}

	 	#calendar {
	 		width: 50%;
    		float: right;
    		margin-top: 0px;

    		h1 {
    			    margin-left: 35px;
    		}
	 	}

	 	li {
 		    padding-bottom: 10px;
 		    font-size:18px;
	 		.plusLink {
	 			display:none;
	 		}
	 	}

	 	.button {
	 		font-size: 14px;
    		padding: 11px 50px 11px 50px;
	 	}
	}

	h1 {
   	 	float: left;
    	margin-left: 16.5%;
    	font-size:25px;

    	.grisTv {
    		color:$gris-moyen;
    	}

    	&+h1 {
    		margin-left:29%;
    		display:block
    	}

	}

	#chiffre-cles {
		background-color:$gris-blanc;
		height: 1300px;
   		margin-bottom: -27px;

		h1 {
			width: 1280px;
    		margin: auto;
    		float:none;
		}
	}

	#cube-wrapper {
		width:1280px;
		margin:auto;

		#image-façade {
		    width: 23.1%;
		    margin-top: -3px;
		    float: right;
		    height: 296px;
		    margin-right: -2.4px;
		    display:block;
		}

		#image-senior {
			float: right;
		    width: 49%;
		    margin-top: 16px;
		    height: 265px;
		    display:block;
		}

		.rose {
		    height: 280px !important;
		    width: 48.4%;
		    background-image: url(../uploads/ressources/cube-activite.png);
		    background-size: 63%;
		    background-repeat: no-repeat;
		    background-position-y: 47%;
		    background-position-x: 120%;
		    margin-left: -17px;

		    .cubeContent {
		    	width: 50%;
		    	box-shadow: 29px 60px 42px -16px #D31466;
		    }
		}

		.gris-moyen {
			width: 23%;
			background-color:white;
		}

		.gris-clair {
			margin-top: 16px;
    		width: 23%;
    		margin-left: 26%;
    		background-color:white;

    		.cubeTitleRose {
    			
    		}
		}

		.blanc  {
			margin-right: -22px !important;
		    width: 25%;
		    height: 280px !important;
		    margin-bottom: 14px;
		    background-color:white;
    	
			.cubeContent {
				width:100%;
			}
		}

		.noir {
			width: 24%;
    		margin-right: 9px !important;
    		margin-left: 13px;
    		background-color:white;

    		.cubeTitleWhite {
    			color:$bleu-azur;
    			border-bottom:2px solid $bleu-azur;
    		}

    		p{
    			color:black;
    			width: 100%;
    		}
		}

		.bleu-azur {
		    width: 49%;
		    margin-top: -1px !important;
		    float: right;
		    margin-right: -2.05px !important;
		    height: 264px !important;
		    z-index: 1;
		    box-shadow:-14px 16px 19px -12px #3c3c3c !important;
		}

		.cube {
    		height: 265px;
    		display: inline-block;
    		margin-right: 12px;
    		box-shadow :0px 0px 20px $gris-fonce;

    		.cubeContent {
    			margin-top:47px;
    			padding-left: 30px;
    		}

    		.text {
    			font-size:14px;
    		}

    		.cubeTitleWhite {
    			font-size: 60px;
    		}

    		.cubeTitleAzur{

    			font-size: 60px;
    		}
    		
    		.cubeTitleRose {
    			color:$bleu-azur;
    			font-size: 60px;
    			border-bottom:2px solid $bleu-azur;
    		}
		}
	}
}