@media(min-width: $desktop) {

	#banniere-orthopedie {

		background-color:blue;
	    height: 300px;
		margin-top: 90px;
		background-image : url('../uploads/ressources/banniere-activite.jpg');
		background-repeat:no-repeat;
		background-position-y:50%;
		background-size:100%;

		.text-banniere {
			background-color: #3BB9C0;
			height: 121px;
			width: 31%;
			margin-top: 90px;
			margin-right: 18%;

			h1 {
			    padding-top: 26px;
			    border-bottom: 2px solid white;
			    width: 14%;
			}
		}
	}

	#content-wrapper {
	 	font-size:18px;

	 	#liste-agence {

	 		p {
	 			font-size:18px
	 		}

	 		form {
	 			display:none;
	 		}

	 		img {
	 			width: 9%;
	 			padding-bottom: 9px;
	 		}

	 		map-content-wrapper {
	 			float: right;
    			margin-right: 116px;
	 		}

	 		a {
	 			padding: 7px 69px 5px 69px;
    			font-size: 14px;
	 		}
	 	}

	 	#content-container {
	 		margin: 20px auto;

	 		.content-text {
	 			float: left;
    			width: 57%;
	 			
	 			p {
	 				padding-bottom:10px;
	 			}
	 			
	 			ul {
	 				width:90%;
	 			}
	 		}

	 		.content-files {

	 			#plaquette-et-contact {

	 				.left {
	 					float: left;
    					width: 43%;
   						margin-bottom: 109px;
	 				}

	 				img {
	 					width:20%;
	 				}

	 				#contact {
	 					width:9%;
	 				}

	 				a {
	 					padding: 7px 69px 5px 69px;
	 					font-size: 14px;
	 				}
	 			}
	 		}
	 	}
	}
}