@media(min-width: $desktop) {


	#background {
		background-size:100%;
		background-repeat:no-repeat;

         #banniere-partenariat {
        width:1280px;
        margin:auto;

        h1 {
            margin-left: 20.5%;
        }
    }

	}

	#content-wrapper-partenariat {
		min-height: 1650px;
		width: 1280px;
		margin:auto;

		.white-box {
			float: right;
    		width: 53%;

    		.kito-informations-dektop {

    			img {
				    float: left;
                    margin-top: -45px;
    			}

    			p {
                    font-size:18px !important;

                    .boldTitle{
                        font-weight:$bold;
                    }
    			}
    		}

			.contenu-presentation-kito {
				margin-top: 63px;

                p {
                    margin-top: -25px;
                    width: 80%;
                    margin-left: 106px;

                    .redPres {
                        color:$bleu-fonce;
                        font-weight:$bold;
                    }

                    &+p {
                           margin-top: 42px;
                           color:$bleu-fonce;

                        &+p {
                            margin-top: 75px;
                            color:$bleu-fonce;
                        }
                    }
                }

                &:before  {
                    margin: -64px 6px 0 52px;
                    height: 423px;
                }
			}
    		

    		.kito-informations-dektop {
    			margin-top: 117px;

                p {     
                    margin-top: 0px;
                    margin-left: 70px;
                    padding: 12px 0px 13px 92px;
                    border-radius: 70px;
                    background: $gris-clair; 
                }
            }

    		.redTitle {
    			font-size:30px; 
    			font-weight:$normal-light;
    		}

    		h2 {
    			font-size:30px;
    			color:$rose-fonce;
    		}

    		p {
    			font-size: 13px;

    			&+p {
    				margin-top: 48px;
    				line-height: 32px;
    				margin-bottom: 21px;

    				&+p {
    					margin-top: 93px;
    				}
    			}
    		}

    		&:first-child{
    			float: left;
    			width: 45%;

    			p {
    				font-size:18px !important;
    			}	
    		}

    		&:last-child {
    			float: left;
    			width: 45%;
    			p {
    				font-size:18px !important;
    			}
    		}
		}
	}

	#notre-bateau {
		padding:0px;
	}


	#partenariat-kito-container {
		width:1186px;
		margin:auto;


		#bastide-et-kito {
			background:transparent;
			margin-top:120px;
		}
	}





	
}