@media(min-width:$desktop) {

#banniere-presse {
	height:300px;
	background-image: url('../uploads/ressources/fondpress-desktop.png');
	background-size: 100%;
	background-position-x: 8%;

	h1 {
		text-align:left;
		padding-top:100px;
		color:black
	}
}


#onglets-presse li {

	    padding: 60px 163px 50px 160px;
	
}
	#onglet-contenu {
		    overflow: visible;
		    background-color:white;
	}


	.cubeWrapper {

    width: 1280px;

	}


	.item {
		#filterSearch {
			display:none;
		}
	}

	.box-presse {
  		padding-bottom:50px;
  		display:inline-block;
  		width:25%;
		
		.news-container {
			.white-box-container {
				padding:10px;
				
				.date {
					font-size:16px;
					color:$gris-clair;	
					margin-bottom: 0px;
					margin-top: 0px;			
				}

				h2 {
					font-size:18px;
					padding-bottom: 0px;	
					font-weight: 600;
				}
				
				.news-content {
					img {
						border:none;
						padding-top:0px;
					}

					p {
						width:100%;
						font-size:16px;
					}

					.plusLink {
						display:none;
					}
				}


			}
		}
	}
}