@media(min-width: $desktop) {
	#banniere-activite {
		background-color:white;
		width: 42%;
		margin:auto;


		h1 {
			font-weight:$light;
		}
	}

	#content-wrapper {
		width: 1280px;
		margin:auto;
		padding:inherit;
		background-color:inherit;
		box-shadow:none;
		box-shadow: 0px 0px 10px #D2D2D2;
	}

	.box-container {

		.title-border {
			padding-bottom:15px;
		}

		.title-border:before {
			left:0;
			border:0.5px dotted $gris-moyen;
			width: 6%;
		}

		&~.box-container {
			margin-top: 0px; 
		}
		
		text-align: left;
		img {
			float:right;
			width:15%;
			margin-top:-50px;
		}

		h2 {
			font-size: 30px;
		
		}

		p {
			font-size:16px;
			width:77%;
		
			padding-top: 31px;
		}


		&+.box-container {
			h2 {
				text-align:center;
				margin-left: -44%;
			}

			p { 
				width:100%;
				text-align: left;
			}

			img {
				float:left; 
				margin-right: 95px;
			}

			.title-border:before {
				left:270px;
			}

			&+.box-container {
				img {
					float:right; 
					margin-right:0px;
				}
				
				h2 {
					text-align:left; 
					margin:inherit;
				}

				p { 
					width:77%; 
					
				}

				.title-border:before {
					left:0px;
				}

				&+.box-container {
					img {
						float:left; 
						margin-right: 95px;
					}

					h2 {
						text-align: center;
						margin-left: -44%;
					}

					p { 
						width:100%;
						text-align: left; 
					}

					.title-border:before {
						left:270px;
					    
						
					}

					&+.box-container {
						img {
							float:right; 
							margin-right:0px;
						}
						
						h2 {
							text-align:left; 
							margin:inherit;
						}
						p { 
							width:77%; 
					
						}

						.title-border:before {
							left:0px;
						}
					}
				}
			}
		}
	}
}