@import "variable";
@import "customFonts";
@import "pages/index";
@import "pages/orthopedie";
@import "pages/historique";
@import "pages/valeurs";
@import "pages/activité";
@import "pages/partenariat";
@import "pages/carriere";
@import "pages/finance";
@import "pages/franchise";
@import "pages/articles";
@import "pages/presse";
@import "partials/_userNavbar";
@import "partials/_cubeLink";
@import "partials/_footer";
@import "partials/_adminNavbar";
@import "partials/_mixed-css";
@import "partials/_sass/hamburgers/hamburgers.scss";

/*===== DESKTOP ===== */

@import "partials/desktop/_adminNavbar-desktop";
@import "partials/desktop/_userNavbar-desktop";
@import "pages/desktop/valeurs-desktop";
@import "pages/desktop/historique-desktop";
@import "pages/desktop/orthopedie-desktop";
@import "pages/desktop/franchise-desktop";
@import "pages/desktop/activites-desktop";
@import "pages/desktop/partenariat-desktop";
@import "pages/desktop/finance-desktop";
@import "pages/desktop/presse-desktop";
@import "pages/desktop/carriere-desktop";
@import "pages/desktop/index-desktop";
@import "pages/desktop/articles-desktop";


/*===== ADMIN ===== */

@import "pages/admin/index.scss";
@import "pages/admin/historique.scss";
@import "pages/admin/categories.scss";
@import "pages/admin/article.scss";
@import "pages/admin/agenda.scss";
@import "pages/admin/users.scss";
@import "pages/admin/valeurs.scss";
@import "pages/admin/activite.scss";
@import "pages/admin/carriere.scss";

/*===== DESKTOP ADMIN ===== */
@import "pages/desktop/admin/articles-desktop.scss";
@import "pages/desktop/admin/agenda-desktop.scss";
@import "pages/desktop/admin/index-admin.scss";
@import "pages/desktop/admin/categorie-desktop.scss";
@import "pages/desktop/admin/historique-desktop.scss";
@import "pages/desktop/admin/users-desktop.scss";
@import "pages/desktop/admin/activite-desktop.scss";
@import "pages/desktop/admin/valeurs-desktop.scss";
@import "pages/desktop/admin/carriere-desktop.scss";



body, html {
	bottom:0;
	left:0;
	right:0;
	top:0;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x:hidden;
    font-family:$openSans;
   
}

#container {
	width:100%;
	margin:auto;

	@media(min-width: $desktop) {
		width: 1250px;
     	min-height: 2266px;
    	padding: 10px;
    	background-color: white;
    	box-shadow: 0px 0px 10px #D2D2D2;
	}


	.cubeWrapper {
		display:none;
		@media(min-width: $desktop) {
			display:block;
		}
	}

}


