$font-bold:700;
$font-light:100;

@font-face {
  font-family: 'open sans';
  src: url('./fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open sans';
  src: url('./fonts/OpenSans-bold.ttf') format('ttf');
  font-weight: $font-bold;
  font-style: normal;
}


@font-face {
  font-family: 'avenir';
  src: url('./fonts/avenir-Heavy.otf') format('otf');
  font-weight: $font-bold;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('./fonts/avenir-medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir';
  src: url('./fonts/avenir-Light.otf') format('otf');
  font-weight: $font-light;
  font-style: normal;
}


$openSans: 'open sans';

$avenir: 'avenir';
