$rose-clair: #FF006E;
$rose-moyen: #D31466;
$rose-fonce: #900948;

$bleu-azur: #00B9B7;
$bleu-ciel: #00A5A3;
$bleu-fonce: #278589;

$gris-fonce: #3C3C3C;
$gris-metal: #999999;
$gris-moyen: #AAAAAA;
$gris-clair: #D2D2D2;
$gris-blanc: #EAEAEA;

$respi: #1E8CC8;
$mad: #D31466;
$ortho: #3BB9C0;
$stoma: #00B9B7;
$ehpad: #3E2F89;
$hospi: #68358C;
$perf: #E6007E;
$escarre: #E4032E;
$nutri: #F39200;
$diabete: #FDC800;

$telephone: 380px;
$tablette: 768px;
$desktop: 1050px;

$full-width: 100%;

$bold: 600;
$normal-light: 400;
$extra-bold: 800;
$light:200;
$extra-light:100;




@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$openSans: 'Open Sans', sans-serif;


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$openLight: 'Open Sans', light;



@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
$openHeavy:'Open Sans', Heavy;


@font-face {
   font-family: 'Avenir';
   src: url("../fonts/Avenir-Medium.otf") format("opentype");
}

$avenir : 'Avenir', sans-serif;


@font-face {
   font-family: 'Avenir-Black';
   src: url("../fonts/Avenir-Black.otf") format("opentype");
}

$avenir-black: 'Avenir-Black', sans-serif;


@font-face {
   font-family: 'Avenir-Heavy';
   src: url("../fonts/Avenir-Heavy.otf") format("opentype");
}

$avenir-heavy: 'Avenir-Heavy', sans-serif;