@media(min-width:$desktop) {

    #fixedTop-burger {
        display: none;
    }

    .adminNavbar-desktop {
        display:block;
        height: 100%; 
        width: 13%;  
        position:fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        overflow-x: hidden;
        padding-top: 30px; 
        transition: 0.5s;
        background-color:black;

        .admin-button {
            margin-left: 45px;
            color: white;
            padding: 3px 20px 4px 20px;
            border: 1px solid white;
            border-radius: 50px;
            text-decoration:none;
        }

        ul {

            margin-top:60px;
            margin-left:10px;
            
            li {
                list-style:none;
                margin-bottom:35px;
                color:white;

                a {
                    text-decoration:none;
                    color:white;

                    &:hover {
                        color:$bleu-fonce;
                        font-weight:$bold;
                    }
                   
                    text-transform:none;
                }
                
                img {
                    width:15%;
                    margin-right:15px;
                }
            }
        }

    }

}