@media (min-width: $desktop) {
   .mainNavbar{
    background-color:transparent;


    .fixedTop {
      height:135px;
      background-color:white;
    }

      .open {
        display:block !important;
      }

   	 	#submenu-desktop {
    		background-color:$gris-clair;
    		display:none;
    		float:       left;
    		text-align: center;
    		margin-top:-50px;
    		width:100%;

        

    		.left{
    			width:27%;
    			float:left;
    			text-align:left;
    			margin-top:50px;
              margin-left: 342px;

    		}

    		.right {
    			float:right;
    			width:49%;
    			margin-top:50px;
    			text-align:left;
    			margin-right: -135px;
    		}
    		

 			#submenu-nous-rejoindre {
 				.submenu-link-wrapper-first {
    				width:100%;
    			}

    			.submenu-link-wrapper-second {
    				width:60%;
    				margin-top:80px;
    			}

    			.submenu-link-wrapper-third {
    				width:70%;
    			}


 			}
    		ul { 
				background-color:transparent;
				float:none;
				height:inherit;
			    margin-top: 35px;
			   margin-left:-35px;
				li {
					display:block;
					padding-top:inherit;
					height:inherit;
					margin-left:0px;
					margin-bottom:10px;
					list-style: url('../uploads/ressources/chevron_noir.png');
				}
			}


			#submenu-notre-communication{


				.right {
					float: right;
				    width: 33%;
				    margin-top: 50px;
				    text-align: left;
				    margin-right: -135px;
				}
				
				p {
					margin-top:10px;
				}

				.middle {
					width: 26%;
    				float: left;
    				text-align:left;
    				margin-top:50px;


    				.submenu-link-wrapper-third {
    					margin-bottom:50px;
    				}

    				.submenu-link-wrapper-fourth {
    					display:inline;
    					margin-top:50px;
    				}

    				ul { margin-top: 15px;


    				li {
    					list-style: url('../uploads/ressources/chevron_noir.png');
    					} }
				}

				.left {
				    display: inline-block;
				    width: 30%;
				    float: left;
				    text-align: left;
				    margin-top: 50px;
				}
			}

    		.submenu-link-wrapper-first {
    			width:64%;
    			margin-bottom:50px;
    		}

    		.submenu-link-wrapper-second {
    			margin-top:115px;
    			width:65%;
    		}

    		.submenu-link-wrapper-fourth {
    			margin-top: 165px;
    			width: 46%;
    		}

    		.submenu-container {
      			display:none;
      			height:500px;

      			a {
      				color:$bleu-fonce;
      				font-size:25px;
      				font-weight:$bold;
      				text-align: left;	
      			}

      			p {
      				margin-top:25px;
      				text-align: left;
      			}

      			.plusLink{
      				display:none;
      			}

            .open {display:inline-block;}
    		}
    	}
   		
   		ul {
		  	height: 111px;
		    background-color: transparent;
		    float: right;
		    margin-top: 48px;
		    box-shadow: inherit;
        margin-right:141px;
        margin-left:0px;
        width:56%;
		   			
   			li {
   				color:$bleu-azur;
   				display:inline;
   				font-size:20px;
   				  	
   			}	
   		}
   		
   		.hamburger-box {
   			display:none;
   		}

   		#logoPhone {
   		  margin: 19px 7px 31px 251px;
        width: 9%;
        height: 82px;
   		}
   	}


    .hamburger {
      padding:0px;
    }
}