#fixedTop-admin {
	position:fixed;
	width: 100%;

	#fixedTop-menu {
		width:100%;
		background-color:$gris-clair;
		color:$bleu-fonce;
		height: 50px;


		#left-menu {
			float:right;
		}	
		
		h2 {
			font-size: 20px;
		    font-weight: 600;
		    padding-top: 14px;
		    margin-left: 15px;
		    margin-right: 15px;
		}
	}

	#fixedTop-burger {
		height: 50px;
	    width: 100%;
	    background-color: black;
    	$hamburger-layer-spacing: 5px ;
    	$hamburger-layer-color : white;

		@import "partials/_sass/hamburgers/hamburgers.scss";

	  	.hamburger--emphatic {
	  		float:right;
	  		    margin-top: -13px;
	  		    margin-bottom: -25px;
	  		    margin-right: -38px;
	  	
	  		.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	  			width: 58px;
    			height: 3px;
	  		}
	  	}

    	.admin-button {
    		float: left;
    		color:white;
		    margin-top: 9px;
		    margin-left: 15px;
		    padding: 4px 15px 4px 15px;
		    border: 1px solid white;
		    border-radius: 50px;
		    font-weight:$bold;
    	}
	}
}

.adminNavbar-desktop {
	display:none;
}

.adminNavbar {
	display:none;
	width: 100%;
	background-color:black;
	
	.admin-navbar-wrapper {
		background-color:black;
		height:500px;
		float:left;
		width:100%;
	
		img {
			width: 60%;
    		margin-left: 14%;
		}

		.left {
			height:200px;
			float: left;
    		width: 30%;
    		margin-top: 180px;
    		margin-left:98px;
    		text-align:center;
    		
    		.icone {
    			width: 27%;
    			margin-bottom:70px;

    			a{
					font-size:25px;
					color:white;
				}

				img {
					margin-left: 54%;
				}
    		}
		}

		.middle {
			height:200px;
    		width: 30%;
		    float: left;
		    margin-top:50px;
		    text-align:center;
		    
		    .icone {
    			width: 27%;
    			margin-bottom:65px;

    			a{
					font-size:25px;
					color:white;
				}
    		}

    		#files-wrapper {
    			width:30%;

    			img {
    				width: 50%;
    				margin-left:5%;
    			}
    		}
		}

		.right {
			height:200px;
			float:right;
			width:30%;
			margin-top: 180px;
			text-align:center;

			.icone {
    			width: 47%;
    			margin-bottom:100px;

    			img {
    				width: 33%;
    				margin-left: 2%;
    			}
				
				a {
					font-size:25px;
					color:white;
				}
    		}
		}
	}
}



