.cubeWrapper {
		margin: 75px auto;
	    height: 600px;
	    width: 1133px;
	    text-align: center;
		
		h3  {
			
			margin-top:50px;
			padding-bottom: 50px;
			text-align:center;
			font-size:18px;
			font-weight:$bold;
		}

		.cube {
			width: 25%;
		    float: left;
		    height: 284px;
		    box-shadow: 0px 0px 21px #D2D2D2;
		    transition: 0.5s all;

		    a {
		    	color:black;
		    	text-decoration:none;
		    }

			&:hover {
				background-color:$bleu-fonce;
				color:white;
				transition: 0.5s all;

					a{color:white;}

			}


			h4 {
				text-align: center;
    			margin-top: 42px;
			}


			p {
				text-align: center;
   	 			margin-top: -60px;
   	 			
   	 			color:$bleu-fonce;

   	 			&:hover {
   	 				color:white;
   	 				transition: 0.5s all;
   	 				transform: rotate(180deg);

   	 			}

   	 			.plusCube {
   	 				font-size: 200px;
   	 				

   	 			}
			}
		}
	}