footer {
	margin-top:25px;
	font-family: 'Open Sans', sans-serif;
}

#footer-Wrapper {
	width:100%;
	
	#newsletter {
		background-color:$bleu-azur;
	    min-height: 358px;
		
		h2{
			margin-left: 50px;
			padding-top:100px;
			color:white;
			font-size: 35px;
			padding-bottom:20px;
			font-family:$avenir-heavy;
		}
		
		input {
			width: 602px;
    		height: 103px;
    		border-radius: 60px;
    		margin-left: 35px;
    		font-size: 25px;
    		text-align: center;
    		font-family:$avenir;
		}
	}

	#lien-utile {
		background-color:$bleu-ciel;
		min-height: 540px;
		color:white;
		
		.left {
			width:50%;
			float:left;
			margin-top: 35px;
			margin-top: 100px;

    		h2 {
    			font-size:35px;
    			margin-left: 50px;
    		}

    		ul {
  				list-style: none;
  				margin-top: 65px;
    			line-height: 66px;

  				li{
  					font-size: 35px;
  				}
    		}
		}

		.right {
			width:50%;
			float:right;
			margin-top:35px;
			margin-top: 70px;

			#reseaux-sociaux {
				text-align: right;
				margin-right:50px;
				padding-bottom:50px;
			}

			ul {
				list-style:none;
				li:first-child {
					border-top:2px solid white;
					padding-top:50px;
				}
				li {
					margin-left: 123px;
					font-size: 36px;
				}
			}
		}
	}
}