.inactive {
	td {
		color:red;
	}
}

.tableBody {
	font-size:30px;
	button, input {
		margin: 0;
		padding: 0;
		border: none;
		font: inherit;
		line-height: normal;
		background-color:transparent;
	}

	@media(min-width:$desktop){
		font-size:18px;
	}
}
