
/* ================== NAVBAR ===============*/
.mainNavbar {
	width: 100%;
	position: fixed;
	z-index:100;
  font-family:$openSans;

  .fixedTop {
    height: 178px;
    background-color: white;
  }

  #submenu-desktop {
    display:none;
  }
  


  .hamburger--emphatic {
    float: right;
    margin-top: 36px;
    margin-right: 35px;

  }

  ul {
    background-color:$rose-moyen;
    margin-left:100px;
    box-shadow: -10px 8px 21px rgba(0, 0, 0, 0.5);
        float: right;
    width: 95%;

    
    li {
      padding-top: 63px;
        height: 211px;
        font-size: 40px;
        display: none;
        list-style-image: url('../uploads/ressources/chevron_horiz_blanc.svg');
        margin-left:50px;
        color:white;

        .categoryName {
          margin-left:50px;
        }
        
        a{
          color: white;
          text-decoration:none;
          letter-spacing: 2px;
          font-weight:$light;
          margin-left: 70px;
        }
      }
    }
  }


  #BurgerPhone:active { border-style: outset;}


	.submenu {
    display:none;
		margin-left:-40px;
		background-color: #EAEAEA;
		height: 510px;

    margin-top: -11px;
    @media-query(min-width: 1024px) {
      display:block;
    }

    ul {
      background-color:$gris-blanc;
      box-shadow:none;
      margin-left: 30px;

		  li {
    		padding-bottom: 92px;
    		height: 100px;
    		font-size: 24px;
    		border-bottom: 2px dotted black;
    		width: 70%;
    		margin-left: 13px;
        background-color:$gris-blanc;
        box-shadow:none;
        list-style:none;
        font-family:$avenir-black;

    		a { 
    			color: black;
    			text-transform: uppercase;
    			margin: inherit; 
          text-decoration:none;

        }
  			
        .plusLink {
          text-align: right;
          float: right;
          background-color: white;
          font-size: 79px;
          padding: 2px 44px 2px 44px;
          margin-top: -41px;
          margin-right: -200px;
          box-shadow: 0px 0px 10px $gris-blanc;
          color: black;
          font-weight: 400;
          font-family:$openSans;
    		}
      }
		}		
	}


#banniere { 
	width: $full-width;
	img  {
		z-index:1;
		width: 100%;
    height: 552px;
    margin-top: 43px;
	}
}

#logoPhone{
  width: 258px;
  height: 140px;
  margin: 5px 32px 31px 83px;
  float: left;
}



.input-group{
	display:none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

