@media(min-width:$desktop) {
	#activite-admin-container {
		float:right;
		width:85%;

		h2 {
			font-size:25px;
			margin-bottom:25px;
		}

		button {
			font-size:18px;
			margin-bottom:25px;
		}

		thead {
			font-size:18px;
		}

		tbody {
			font-size:18px;
		}
	}
}