@media(min-width:$desktop) {
	#admin-agenda-container {
		float:right;
		width:85%;

		thead {
			font-size:18px
		}

		button {
			font-size:18px;
		}

	.modal-body {
		font-size:18px;
		input {
			font-size:18px;
		}
	}

	.modal {
		.modal-dialog {
			width: 50%;
    		margin: auto;
		}

		button {
			font-size:18px;
		}
	}

	}
}