@media(min-width: $desktop) {
	#article-admin-container {
		float:right;
		width:85%;

		h2 {
			font-size:30px;
			margin-left:0px;
		}

		button {
			font-size:15px;
		}


		.modal { 

			.modal-dialog {
				width:50%;
				margin:auto;
			}
			.modal-header {
				.modal-title {
					font-size:25px;
				}
			}

			label {
				font-size:18px;
			}

			form {
				font-size:18px;
				input[type="text"], textarea, input[type="file"]  {
					font-size:18px;
				} 
			}
		} 
	}


	.tableBody {
		td {
			img {
				width:28px;	
			}
		}
	}
}