@media(min-width: $desktop) {
	#carriere-admin-container {
		margin-top:100px;
		float:right;
		width:85%;

		h2 {
			font-size:30px;
			text-align:center;
		}

		button {
			font-size:18px;
		}

		thead {
			font-size:18px;
		}

		.modal {
			width:50%; 
			margin:auto;

			.modal-body {
				text-align:center;
			}
		}
	}
}