@media(min-width: $desktop) {
	#admin-categorie-container {
		float:right;
		width:85%;

		h2 {
			font-size:35px;
		}

		button {
			font-size:18px;
		}
		.modal {
			.modal-title {
				font-size:35px;
			}
			.modal-dialog {
				width:50%;
				margin:auto;
			}

			.modal-body {
			font-size:18px;

			input[type="text"] , select{
				font-size:18px;
			}
		
			button {
				font-size:18px;
			}
		}
		}
	}
}
