@media(min-width:$desktop) {
	#admin-historique-container {
		margin-top:80px;
		float:right;
		width:85%;

		button {
			font-size:18px;
		}

		h2 {
			font-size:35px;
		}


		.modal {
			.modal-title {
				font-size:25px;
			}

			.modal-body {
				font-size:18px;
				input {
					font-size:18px;
				}
			}

			.modal-dialog {
				width: 50%;
	    		margin: auto;
			}
		}
	}
}