@media(min-width:$desktop ){
    #admin-container {
        float:right;
        margin-top:0px;
        width:85%;

        .date {
            font-size:15px;
        }

        #stat-block-title{

            h1 {
                float:none;
                margin-top: 50px;
                font-size:40px;
                text-align:left;
                margin-left:20px;
            }
        }


        #overviewContent {
            width:50%;
            font-size:18px;
            margin-left:0px;


            h2 {
                font-size:30px;
            }
        }

        #recentActivity {
            font-size:18px;

            h2 {
                font-size:30px;
            }
        }



        #agenda {
            font-size:18px;
            margin-top:20px;

            h2 {
                font-size:30px;
            }
        }

        #dates-historique{
            width: 50%;
            float: left;
            font-size: 18px;
            padding: 20px;
            text-align: center;
            box-shadow: 0px 0px 10px #AAAAAA;
            margin-left: 0px; 
            margin-top:0px;


            h2 {
                color:$bleu-fonce;
                font-weight:$bold;
            }
        }
    }
}