@media(min-width: $desktop) {
	#admin-valeurs-container {
		float:right;
		width:85%;
		margin-top:100px;

		h2 {
			font-size:25px;
		}

		button {
			font-size:18px;
		}

		thead {
			font-size:18px;
		}

		.modal {
			width: 50%;
			margin:auto;

			.modal-body {
				img {
					margin-left: 35%;
				}
			}
		}
	}
}